apiVersion: v1
kind: Service
metadata:
  name: vllm-service
  labels:
    app: vllm-server
spec:
  type: ClusterIP
  selector:
    app: vllm-server
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
